.userProfileImage {
  height: 150px;
  width: 150px;
  border-radius: 50%;
}
.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
.indicatorLg {
  height: 30px;
  width: 30px;
  background-color: #45eca6;
  border-radius: 50%;
  bottom: 15px;
  right: 10px;
}
.editProfileImage {
  position: absolute;
  background-color: #45eca6;
  border-radius: 50%;
  top: 15px;
  left: 0;
}
.aboutMeText {
  height: 75px;
position: relative;
}
.aboutMeText::placeholder{
  position: absolute;
}
/* @media screen and (max-width: 600px) {

  .indicatorLg{
    height: 10px;
    width: 10px;
  }
} */
